<div class="row">
    <div class="col-md-12">
        <h4 class="title"><span class="font-weight-bold" style="color: #4ab7ff;">R</span>ooms</h4>
    </div>
</div>
<!-- Search Box -->
<div class="content ml-3 mr-3 search-title row"><div class="col-md-12">Search</div></div>
<div class="content ml-3 mr-3 p-4 search-content font-medium">
    <div class="row">
        <div class="col-md-2 mt-1 text-right"><label>Branch : </label></div>
        <div class="col-md-4">
            <select class="form-control">
                <option [(ngModel)]="form.branch" *ngFor="let branch of branches" value="branch.id">{{ branch.name }}</option>
            </select>
        </div>
        <div class="col-md-1 p-0 mt-1 text-right"><label>Section : </label></div>
        <div class="col-md-4">
            <select class="form-control">
                <option [(ngModel)]="form.branch" *ngFor="let branch of branches" value="branch.id">{{ branch.name }}</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2 mt-1 text-right"><label>Meter : </label></div>
        <div class="col-md-4">
            <select class="form-control">
                <option [(ngModel)]="form.branch" *ngFor="let branch of branches" value="branch.id">{{ branch.name }}</option>
            </select>
        </div>
        <div class="col-md-1 p-0 mt-1 text-right"><label>Customer : </label></div>
        <div class="col-md-4">
            <select class="form-control">
                <option [(ngModel)]="form.branch" *ngFor="let branch of branches" value="branch.id">{{ branch.name }}</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2 mt-1 text-right"><label>Rent Date From : </label></div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Enter Date From" />
        </div>
        <div class="col-md-1 p-0 mt-1 text-right"><label>Rent Date To : </label></div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Enter Date To" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-2 mt-1 text-right"><label>Room No. : </label></div>
        <div class="col-md-4">
            <select class="form-control">
                <option [(ngModel)]="form.branch" *ngFor="let branch of branches" value="branch.id">{{ branch.name }}</option>
            </select>
        </div>
        <div class="col-md-1 p-0 mt-1 text-right"><label>Status : </label></div>
        <div class="col-md-4">
            <select class="form-control">
                <option value="">--- All ---</option>
                <option value="R">Rented</option>
                <option value="E">Empty</option>
            </select>
        </div>
    </div>
</div>

<div class="ml-3 mr-3 mt-4 row">
    <div class="col-md-4"></div>
    <div class="col-md-2">
        <button (click)="clearBtn()" class="btn btn-default" style="border: 1px solid #cccccc; width: 100%;">Clear</button>
    </div>
    <div class="col-md-2">
        <button (click)="searchBtn()" class="btn-submit">Search</button>
    </div>
</div>
<ng-container *ngIf="is_search">
    <div class="row pr-4">
        <div class="col-md-11"></div>
        <div class="col-md-1">
            <button class="btn-submit">+ Room</button>
        </div>
    </div>
    <div class="ml-3 mr-3 mt-4 row">
        <table class="table">
            <tr><th *ngFor="let field of fields">{{ field }}</th><th>Action</th></tr>
            <tr *ngFor="let item of items">
                <td>{{ item.no }}</td>
                <td>{{ item.branch }}</td>
                <td>{{ item.section }}</td>
                <td>{{ item.meter }}</td>
                <td>{{ item.room }}</td>
                <td>{{ item.customer }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.status }}</td>
                <td>
                    <img style="cursor: pointer;" src="../../../../assets/edit.png" />
                    <img style="cursor: pointer;" src="../../../../assets/delete.png" />
                </td>
            </tr>
        </table>
    </div>    
</ng-container>
