<div class="row" style="text-align: center;">
    <div class="content login-blog">
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="logo" src="../../../assets/logo.png" />
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-3 mt-4 font-weight-bold">
                <label for="login_username" class="mt-1">Username : </label>
            </div>
            <div class="col-md-8 mt-4">
                <input id="login_username" type="text" class="form-control" autocomplete="off" placeholder="Enter Username" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 mt-4 font-weight-bold">
                <label class="mt-1">Password : </label>
            </div>
            <div class="col-md-8 mt-4">
                <input type="password" class="form-control" placeholder="Enter Password" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-4 mb-1 text-center">
                <button (click)="loginBtn()" class="btn-submit" style="width: 15%;">Login</button>
            </div>
        </div>

    </div>
</div>